* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
}

.calculator {
    background-color: gold;
    padding: 10px;
    width: 200px;
}

.screen {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0px 10px 10px 10px;
    font-size: 50px;
}

.controls{
    display: flex;
    flex-wrap: wrap;
}

.digits,
.operators {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.controls > button {
    flex: 1 0 50%;
    min-height: 50px;
}

.digits > button {
    flex: 1 0 33%;
    min-height: 50px;
}

.operators > button {
    flex: 1 0 25%;
    min-height: 50px;
}

.calculator {
    position: relative;
}

.currentOperation {
    position: absolute;
    pointer-events: none;
}